<!DOCTYPE html>
<html>
<head>
	<body>
		<h2>Here is your puppy!!</h2>
		<p>Puppy Name: <%=@puppy.name%> </p> 
		<p>Puppy Breed: <%=@puppy.breed%> </p> 
		<p>Puppy Age: <%=@puppy.age%></p>  
			<!-- binding.pry -->
	</body>
</head>
</html>